@import url('https://googleapis.com');body { font-family: 'Poppins', sans-serif;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: Helvetica;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    background-image: url("https://us-east1-aws.api.snapchat.com/web-capture/www.snapchat.com/@time_genz/preview/square.jpeg?xp_id=1");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}
/* html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   */
#main{
    color: rgb(1, 8, 21);
}   
#t1{
    font-size: 30px;
    font-weight: 30;
    padding: 70px;
    text-align: center
    
}
.log{
    position: relative;
    width: 400px;
    height: 450px;
    /* background: red; */
    border-radius: 20px;
    display: flex;
    text-align: center;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(23, 17, 17, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
} 

.log h2{
    font-size: 3em;
    margin: -380px 0 0 70px;
    font-size: 50px;
    color: #110101;
    text-align: center;
}
.inp{

    position: absolute;
    width: 100%;
    margin: 0px 0 0 0;
    border-bottom: 2px solid #0c0404;
}
.in label{
    position: absolute;
    bottom: 105%;
    left: 35%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #100202;
    pointer-events: none;
    transition: .5s;
}
.in1 label{
    position: absolute;
    bottom: 72%;
    left: 35%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #05041a;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.in span {
    bottom: 50%;
}
.inp input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    font-size: 1em;
    color: #e5e0e0;
    margin: -150px 0 0 0;
    padding: 0 35px 0 5px;
    box-sizing: border-box;
}

.inp .icon{
    position: absolute;
    right: 8px;
    color: #d20a0a;
    font-size: 1.2em;
    line-height: 57px;
}
.r1{
    margin: 80px 0 0 10px;
    font-size: .9em;
    color: #040214;
    display: flex;
    text-align: justify;
    justify-content: space-between;
}
.r1 input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.r1 label input{
    margin-right: 5px;
}


.r1 a{
    color: #01040a;
    bottom: 89%;
    left: 95%;
    margin: 0 6px 0 0;
    text-decoration: none;
}

.r1 a:hover{
    text-decoration: underline;
}
.a{
    right:35%;
}
button {
    width: 100%;
    height: 10%;
    background: #150101;
    border: none;
    margin: 20px 0 0 -150px;
    display: block;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #dde1e3;
    font-weight: 500;

}
.r2 {
    font-size: .9em;
    color: #070101;
    text-align: center;
    margin: 100px 0 0 40px;
}
.r2 p a {
    color: #0f0404;
    text-decoration: none;
    font-weight: 600;
}
.r2 p a:hover {
    text-decoration: underline;
}

/* form{
    text-align: center;
    font-size: 30px;
    border
}
input{
    background-color: white;
}
#f1{
    width: 100%;
    background-color: white;
} */

